/* Global style */

body {
    background-color: rgb(255, 255, 248);
    font-family: "Mulish", sans-serif;
    color: darkslategrey;
    text-align: center;

}

/* Header */

.heading {
    text-align: center;
    font-size: 2.5rem;
}

/* Game area layout */

.game-board {
    background-color: rgb(255, 255, 248);
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}



/* Buttons */

.btn-rock,
.btn-paper,
.btn-scissors {
    background: none;
    border: none;
    font-size: 2.5rem;
    transition: all 0.5s;
    border-radius: 5px;
}

.btn-rock:active,
.btn-rock:hover {
    

}



/* Media queries */