/* Global style */

body {
    background-color: rgb(255, 255, 248);
    font-family: "Mulish", sans-serif;
    color: darkslategrey;
    text-align: center;

}

/* Header */

.heading {
    text-align: center;
    font-size: 2.5rem;
}

/* Modal instructions window */
.modal {
    display: none;
    position: fixed;
    background:rgb(255, 255, 248);
    padding: 20px;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

/* Modal text */
.modal-text {
    position: relative;
    height: auto;
    padding: 20px;
    margin: auto;
    width: 50%;
    font-size: 1.5rem;
}

/* Game area and icons layout */

.game-board img {
    background-color: rgb(255, 255, 248);
    box-sizing: border-box;
    width: 85%;
    height: 65%;
    max-height: 450px;
    max-width: 830px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

/* Rock, paper, scissors icons display game winner */
#1rock,
#2paper,
#3scissors {
width: 85%;
height: 65%;
}


/* Buttons */

.btn--instructions,
.btn--reset {
    background: #333;
    color: rgb(255, 255, 248);
    border-radius: 2px;
    width: 150px;
    height: 30px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin: 20px 30px;
    transition: all 0.5s;
}

#play-now {
    background: #333;
        color: rgb(255, 255, 248);
        border-radius: 2px;
        width: 150px;
        height: 30px;
        font-family: "Raleway", sans-serif;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        margin: 20px 30px;
        transition: all 0.5s;
}

.control-button {
    background: none;
    border: none;
    width: 150px;
    height: 150px;
    font-size: 2.5rem;
    transition: all 0.5s;
    border-radius: 5px;
}

/* Score board */

.score-board {
    padding: 2%;
    margin: 5px 5px;
}

/* Media queries */

/* 1400px wide and below */
@media screen and (max-width: 1400px) {
    .game-image-area {
        width: 50%;
        margin: auto;
    }

    button {
        font-size: 1rem;
    }
}

/* 770px wide and below */
@media screen and (max-width: 770px) {
    .game-area {
        width: 100%;
    }

    .game-image-area {
        width: auto;
        max-width: 100%;
    }

    .game-settings {
        width: auto;
        margin: auto;
    }

    .modal {
        padding: 1px;
    }

    .modal-content {
        font-size: 1.2rem;
        width: 80%;
    }

    button {
        font-size: 0.7rem;
    }

}
